# Стеллажи с продуктами (огромные папки)
node_modules/

# Результаты сборки (то, что компьютер готовит сам)
.next/
out/
build/
dist/

# Секретные ключи (пароли от сейфа)
.env
.env.local
.env.development.local

# Системный мусор Макбука
.DS_Store